apturl==0.5.2
beautifulsoup4==4.5.1
Brlapi==0.6.5
captcha-solver==0.0.3
chardet==2.3.0
command-not-found==0.3
cryptography==1.5
defer==1.0.6
distro-info===0.14build1
html5lib==0.999
httplib2==0.9.1
idna==2.1
keyring==9.1
keyrings.alt==1.1.1
language-selector==0.1
launchpadlib==1.10.4
lazr.restfulclient==0.13.4
lazr.uri==1.0.3
lightdm-gtk-greeter-settings==1.2.1
louis==2.6.5
lxml==3.6.4
Mako==1.0.4
MarkupSafe==0.23
mate-tweak==16.10.5
oauth==1.0.1
onboard==1.3.0
pexpect==4.2.0
Pillow==6.2.0
polib==1.0.7
psutil==4.2.0
ptyprocess==0.5.1
pyasn1==0.1.9
pycosat==0.6.1
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.22.0
PyMySQL==0.7.9
pytesseract==0.1.6
python-apt==1.1.0b5
python-debian==0.1.29
pyxdg==0.26
PyYAML==3.11
reportlab==3.3.0
requests==2.20.0
SecretStorage==2.3.1
sessioninstaller==0.0.0
setproctitle==1.1.8
simplejson==3.8.2
six==1.10.0
ssh-import-id==5.6
systemd-python==232
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.15.1
usb-creator==0.3.3
wadllib==1.3.2
xkit==0.0.0
zope.interface==4.2.0
